DB_HOST=db
DB_PORT=3306
DB_ROOT_PASSWORD=root_password_here
DB_DATABASE=nosquad
DB_USER=nosquad
DB_PASSWORD=nosquadpassword

# Generate new keys using: npx web-push generate-vapid-keys
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

REDIS_URL=redis://redis:6379
